In [1]:
number = 123
print(number)

123

In [2]:
type(number)

int

In [3]:
num2 = 0.23
type(num2)

float

In [5]:
Introduction to list datatype:
A list is a collection of item defined in a particular order
It is classified as mutable datatype( which we can edit/ alter)
HOW TO DEFINE LIST DATATYPE: [] # in a square bracket

SyntaxError: invalid syntax (1808138867.py, line 1)

In [6]:
Students = [ 'arpita', 'ashwini', 'asma', 'bhuvan', 'david', 'karthik'] # [0,1,2,3,4,5] this is the numbering order
print(Students)

['arpita', 'ashwini', 'asma', 'bhuvan', 'david', 'karthik']

In [7]:
type(Students)

list

In [ ]:
Introduction of indexing : 0,1,2,3,4,5,.......nth number

In [9]:
print(Students[1])

ashwini

In [10]:
print(Students[0])

arpita

In [12]:
print(Students[4])

david

In [ ]:
# I want to add venkat to the above list

In [17]:
students.append('venkat')

NameError: name 'students' is not defined

In [15]:
Students.append('venkat')

In [16]:
print(Students)

['arpita', 'ashwini', 'asma', 'bhuvan', 'david', 'karthik', 'venkat']

In [20]:
Students.insert(3, 'kaleem') # req: want to add 'kaleem' to 3rd index position

In [19]:
print(Students)

['arpita', 'ashwini', 'asma', 'kaleem', 'bhuvan', 'david', 'karthik', 'venkat']

In [ ]:
# what is the difference between append and insert?
# append used to add an element to the list while insert used to add an element at a specific position of list,
#it takes two argument(the index where you want to insert the item and item itself  .

In [21]:
Students = [ 'arpita', 'ashwini', 'asma', 'bhuvan', 'david', 'karthik'] # want to modify arpita name to anand
Students[0] = 'anand'

In [22]:
print(Students)

['anand', 'ashwini', 'asma', 'bhuvan', 'david', 'karthik']

In [25]:
Students = 'bhuvan'   # I want to modify a string
Students = Students.replace('bhuvan', 'brijesh')
print(Students)

brijesh

In [26]:
print(Students)

brijesh